example/GPA_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Calculates GPA when a performance record is created or updated</description>
    <interviewLabel>GPA Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPA Calculation</label>
    <processMetadataValues>
        <n>BuilderType</n>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <n>CanvasMode</n>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Student_Id</targetReference>
        </connector>
        <object>Performance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <assignments>
        <n>Get_Student_Id</n>
        <label>Get Student Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StudentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Student_GPA</targetReference>
        </connector>
    </assignments>
    <variables>
        <n>StudentId</n>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <actionCalls>
        <n>Calculate_Student_GPA</n>
        <label>Calculate Student GPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPACalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Student_GPA</targetReference>
        </connector>
        <inputParameters>
            <n>studentIds</n>
            <value>
                <elementReference>StudentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GPAResults</assignToReference>
            <n>gpa</n>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalCredits</assignToReference>
            <n>totalCredits</n>
        </outputParameters>
    </actionCalls>
    <variables>
        <n>GPAResults</n>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <n>TotalCredits</n>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <recordUpdates>
        <n>Update_Student_GPA</n>
        <label>Update Student GPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPA__c</field>
            <value>
                <elementReference>GPAResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Credits__c</field>
            <value>
                <elementReference>TotalCredits</elementReference>
            </value>
        </inputAssignments>
        <object>Student__c</object>
    </recordUpdates>
    <status>Active</status>
</Flow>